<app-appbar></app-appbar>
<div class="maincontainer" *ngIf="!issuccess">
  <div class="container">
    <div class="fpart">
      <app-cartcard
        [cartItems]="cartItems"
        [addresses]="addresses"
        [selectedAddress]="getSelectedAddress()"
        (placeOrder)="placeOrder()"
        (quantityChange)="onQuantityChange($event)"
        (itemRemove)="onItemRemove($event)"
      >
      </app-cartcard>
    </div>

    <!-- Address Manager Component -->
    <div class="fpart">
      <app-cartaddress
        [addresses]="addresses"
        [selectedAddressId]="selectedAddressId"
        (addressSelect)="onAddressSelect($event)"
        (addressesChange)="onAddressesChange($event)"
        (selectedAddressChange)="onSelectedAddressChange($event)"
      ></app-cartaddress>
    </div>
    <div class="cart">
      <div class="cartheader">
        <div class="header">Order Summary</div>
        <div>
          <div>loc</div>
        </div>
      </div>
      <div>
        <div class="wishlist-items" *ngIf="cartItems && cartItems.length > 0">
          <div class="wishlist-item" *ngFor="let item of cartItems">
            <div class="item-image">
              <img
                [src]="item.image || '/bookimagedefault.png'"
                class="bookimage"
              />
            </div>
            <div class="item-details">
              <div class="item-title">{{ item.product_id.bookName }}</div>
              <div class="item-author">by {{ item.product_id.author }}</div>
              <div class="item-pricing">
                <div class="current-price">
                  Rs. {{ item.product_id.discountPrice }}
                </div>
                <div class="original-price">
                  Rs. {{ item.product_id.price }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-success *ngIf="issuccess"> </app-success>
