.maincontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(159, 159, 159);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  padding-right: 40px;
  padding-left: 53px;
}

.container {
  width: 750px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 21px;
}
