<app-appbar></app-appbar>

<div class="maincontainer" *ngIf="!isLoggedIn">
  <div class="container">
    <div class="hcontainer">
      <span class="heading">PLEASE LOG IN</span>
      <span class="heading2">Login to view items in wishlist.</span>
    </div>
    <img src="/wishlistnologin.svg" alt="" class="imgcontainer" />
    <div>
      <div class="box">LOGIN/SIGNUP</div>
    </div>
  </div>
</div>

<div *ngIf="isLoggedIn" class="maincontainer">
  <div style="width: 62%">
    <span style="color: #9d9d9d; cursor: pointer" (click)="tohome()">
      Home
    </span>
    /Cart
  </div>
  <div class="main">
    <div class="tablefirst">
      <span class="tableheading"
        >My Wishlist ({{ wishlistitems?.length }})</span
      >
    </div>
    <div
      class="wishlist-items"
      *ngIf="wishlistitems && wishlistitems.length > 0"
    >
      <div class="wishlist-item" *ngFor="let item of wishlistitems">
        <div class="item-image">
          <img
            [src]="item.image || '/bookimagedefault.png'"
            class="bookimage"
          />
        </div>
        <div class="item-details">
          <div class="item-title">{{ item.product_id.bookName }}</div>
          <div class="item-author">by {{ item.product_id.author }}</div>
          <div class="item-pricing">
            <div class="current-price">
              Rs. {{ item.product_id.discountPrice }}
            </div>
            <div class="original-price">Rs. {{ item.product_id.price }}</div>
          </div>
        </div>
        <div
          class="item-actions"
          (click)="removeFromWishlist(item.product_id._id)"
        >
          <mat-icon class="material-symbols-sharp">delete</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
