.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 968px;
  gap: 40px;
  /* background-color: red; */
}
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.heading {
  font: normal normal medium 25px/33px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
}
.heading2 {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #9d9d9d;
}

.imgcontainer {
  width: 66px;
}
.hcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.box {
  border: 1px solid #a03037;
  width: 127px;
  height: 33px;
  border-radius: 2px;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #a03037;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablefirst {
  height: 55px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  display: flex;
  align-items: center;
}

.main {
  width: 1022px;
  display: flex;
  flex-direction: column;
}
.tableheading {
  padding-left: 36px;
  font: normal normal medium 18px/24px Roboto;
  color: #0a0102;
}

.bookimage {
  width: 65px;
  padding-left: 20px;
}
.wishlist-item {
  display: flex;
  height: 175px;
  width: 100%;
  align-items: center;
  border: 1px solid #e4e4e4;
  gap: 20px;
}
.item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}

.item-title {
  font: normal normal normal 18px/24px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
}
.item-author {
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #9d9d9d;
}
.current-price {
  font: normal normal bold 15px/20px Roboto;
  letter-spacing: 0px;
  color: #0a0102;
}
.original-price {
  text-decoration: line-through;
  font: normal normal normal 12px/16px Roboto;
  letter-spacing: 0px;
  color: #9d9d9d;
}

.item-pricing {
  display: flex;
  gap: 5px;
}
