<app-appbar></app-appbar>
<div class="maincontainer">
  <div>Order placed successfully</div>
  <div>
    hurray!!! your order is confirmed the order id is #123456 save the order id
    for further communication..
  </div>
  <span>
    <table>
      <tr>
        <th>Email us</th>
        <th>Contact us</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>adminbookstore.com</td>
        <td>+91 8163475881</td>
        <td>
          42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
          Kumarakom restaurant, HSR Layout, Bangalore 560034
        </td>
      </tr>
    </table>
  </span>
</div>
