<div class="userrating">
  <div class="heading">Overall Rating</div>
  <div>
    <mat-icon
      class="material-symbols-sharp"
      (click)="onRatingChange(1)"
      [class.filled]="rating >= 1"
      >star</mat-icon
    >
    <mat-icon
      class="material-symbols-sharp"
      (click)="onRatingChange(2)"
      [class.filled]="rating >= 2"
      >star</mat-icon
    >
    <mat-icon
      class="material-symbols-sharp"
      (click)="onRatingChange(3)"
      [class.filled]="rating >= 3"
      >star</mat-icon
    >
    <mat-icon
      class="material-symbols-sharp"
      (click)="onRatingChange(4)"
      [class.filled]="rating >= 4"
      >star</mat-icon
    >
    <mat-icon
      class="material-symbols-sharp"
      (click)="onRatingChange(5)"
      [class.filled]="rating >= 5"
      >star</mat-icon
    >
  </div>
  <div>
    <textarea
      class="custom-textarea"
      placeholder="Type your text here..."
      [(ngModel)]="commentValue"
    ></textarea>
  </div>
  <div class="btnflx">
    <div class="btn" (click)="submitFeedback()">Submit</div>
  </div>
</div>
