<app-appbar [(showModal)]="showModal"></app-appbar>
<div class="modelcontainer" *ngIf="showModal()" (click)="closeModal()">
  <app-signup (close)="closeModal()"></app-signup>
</div>
<div class="maincontainer">
  <div class="books-container">
    <div class="books">Books({{ allBooks.length }} items)</div>
    <app-card
      *ngFor="let book of displayedBooks; let i = index"
      [book]="book"
      [index]="i"
    ></app-card>
  </div>
  <mat-paginator
    *ngIf="totalBooks > 0"
    [length]="totalBooks"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage"
    (page)="onPageChange($event)"
    aria-label="Select page of books"
    showFirstLastButtons
    class="page"
  >
  </mat-paginator>
</div>
