<div class="container">
  <div class="leftcontainer">
    <div class="profile">AC</div>
  </div>
  <div class="rightcontainer">
    <div class="name">Aniket Chile</div>
    <div>
      <mat-icon class="material-symbols-sharp">star</mat-icon>
      <mat-icon class="material-symbols-sharp">star</mat-icon>
      <mat-icon class="material-symbols-sharp">star</mat-icon>
      <mat-icon class="material-symbols-sharp">star</mat-icon>
      <mat-icon class="material-symbols-sharp">star</mat-icon>
    </div>
    <div class="comment">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, similique
      magni ea modi rerum perferendis minima, eius cumque, id quibusdam iure
      facere excepturi in. Voluptatem doloremque quod non cumque laborum!
    </div>
  </div>
</div>
